* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f8fc;
}

.top-bar {
	display: inline-flex;
	justify-content: center;
	background-color: #4CAF50;
    width: 100%;
    height: 60px;
}

.home-TopBar {
	text-decoration: none;
	margin-top: 0px !important;
	padding: 0 5px 5px 5px;
	transition: background-color 0.2s ease;
}

.home-TopBar-Branco {
	color: #ffffff;
	font-size: 32px;
	padding: 0.05em;
}

.layout-topbar-icon:hover {
  background-color: #337837;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-message {
    background-color: #d9edf7;
    color: #31708f;
    padding: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    font-weight: bold;
}

.warn-message {
    background-color: #fcf8e3;
    color: #8a6d3b;
    padding: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    font-weight: bold;
}

.error-message {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.panel-header-clicavel .ui-panel-titlebar {
	cursor: pointer;
}

.ui-button {
    width: 100%;
    font-size: 18px !important;
    background-color: #4CAF50 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 5px;
}

.ui-button:hover {
    background-color: #45a049 !important;
}

.ui-panelgrid .p-grid .ui-panelgrid-cell, .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
	padding-left: .25rem !important;
    padding-right: .25rem !important;
    padding-bottom: .25rem !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
	color: #4CAF50 !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
	border-color: #4CAF50 !important;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active {
	color: #4CAF50 !important;
	border-color: #4CAF50 !important;
	background: #4CAF50 !important;
}

.ui-selectonemenu.ui-state-focus,
.ui-button.ui-state-focus,
.ui-inputfield.ui-state-focus,
.ui-radiobutton-box.ui-state-focus,
.ui-paginator-page.ui-state-focus,
.ui-paginator-first.ui-state-focus, 
.ui-paginator-prev.ui-state-focus, 
.ui-paginator-next.ui-state-focus, 
.ui-paginator-last.ui-state-focus {
	border-color: #d7edd8 !important;
	box-shadow: 0 0 0 0.2em #d7edd8 !important;
}

.ui-state-hover {
	border-color: #67bd6a !important;
}

.ui-state-highlight {
	background: #d7edd8 !important;
}

.ui-paginator-page.ui-state-active {
	background: #d7edd8 !important;
}

.ui-tabs-outline {
	box-shadow: 0 0 0 0.2em #d7edd8 !important;
}

.ui-spinner-button {
	border-radius: 0 !important;
}

.ui-dialog .ui-dialog-titlebar {
	padding-bottom: 0 !important;
}

.campoVisualizar {
	width: 100%;
}